body{
    background-color:rgb(55, 58, 61);

}
#h0{
    background-color:tomato;
    font-size: 80px;
}
#p0{
    background-color: coral;

}
.p1{
    color: darkmagenta;
}
.h1{
    color:hotpink;
}
.h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: gold;
}
.p2{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: gold;
    font-style: italic;
    font-weight: 100px;
}
.h3{
    border-style: solid;
    border-width: 10px;
    border-color: aqua;border-radius: 10px;
    text-align: center;
}
.p3{
     border-style: dashed;
    border-width: 10px;
    border-color: aqua;border-radius: 10px;
    text-align: center;
    font-size: 70px;
}
.h4{
    border-color: aquamarine;
    border-bottom: 10px solid mediumturquoise;
    border-top: 10px dotted rebeccapurple  ;
    border-left: 10px  dashed peachpuff;
    border-right: 10px double chartreuse;
    text-align: center;
    font-size: 40px;
}

