body{
    background-color:#000000;
    font-family: Arial, sans-serif;

}

h1{
    color:#FFFFFF;
    text-align: center;
    margin-top: 50px;
    background-size: 500px;
}
pre{
    color: #FFFFFF;
    text-align: center;
    position:absolute;
    font-size: 20px;
    top:1060px
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hr1{
    border: 1px solid #FFFFFF;
    margin: 20px auto;
    width: 100%;
}
.hr2{
    border: 1px solid #FFFFFF;
    position: absolute;
    top:1050px;
    width: 100%;
}
.hr3{
    border: 1px solid #FFFFFF;
    position: absolute;
    top:1200px;
    width: 100%;
}
.hr4{
    border: 1px solid #FFFFFF;
    position: absolute;
    top:1300px;
    width: 100%;
}

.m1{
    display: block;
    top:195px;
    left:700px;
   height: auto;
     position: absolute;
     width: 100px;
  animation: rotateImg 8s linear infinite;
}

.m2{
    display: block;
    top:420px;
    left:830px;
 position: absolute;
    
     width: 130px;
  animation: rotateImg2 8s linear infinite;
}
.m3{
    display: block;
   top:300px;
   left:630px;
     position: absolute;
     width: 200px;
  animation: rotateImg 8s linear infinite;
}
.m4{
    display: block;
    top:5px;
    left:250px;
   height: auto;
     position: absolute;
     width: 850px;

}

.m5{
    display: block;
    top:385px;
    left:960px;
   height: auto;
    position: absolute;
    
     width: 150px;
  animation: rotateImg 8s linear infinite;
}
.m6{
    display: block;
   top:170px;
   left:800px;
     position: absolute;
     width: 250px;
  animation: rotateImg 8s linear infinite;
}

.div{
    height: 500px;
    width: 500px;
}
.hit{
    height: 900px;
    width: 700px;
    
    position: absolute;
    top: 130px;
    left: 500px;
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateImg2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
